html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin-left: 10px;
  width: 1280px;
}

.flex-container img {
  margin-left: 20px;
}
.top {
  color: white;
  background-color: black;
  height: 300px;
  position: relative;
  top: 10px;
  position: relative;
  top: -40px;
}

header {
  height: 100px;
  background-color: black;
  position: relative;
}

.total {
  background-color: white;
}

.headericon li {
  display: inline;
  position: relative;
  top: 5px;
  margin: 10px;
}
.headericon {
  position: relative;
  left: -30px;
  margin-left: 100px;
}

.headericon span {
  margin-left: 30px;
}
.container {
  position: relative;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-container span {
  color: white;
}

ul {
  display: flex;
  flex-direction: column;
}

.top {
  margin-top: 40px;
  display: flex;
  position: relative;
}

.top p {
  color: white;
  margin-left: 165px;
  margin-top: 20px;
}

.subp2 {
  font-size: 50px;
  position: relative;
  top: 50px;
  left: -20px;
}

.top span {
  border: 1px solid;
  color: white;
  border-radius: 15px;
  height: 24px;
  position: relative;
  left: 350px;
  margin-left: 15px;
  margin-top: 10px;
  font-size: 18px;
  padding: 3px;
}
.subp {
  font-size: 15px;
  margin-top: 3000px;
  position: relative;
  top: 200px;
  left: -145px;
}

.paragraph {
  color: black;
  font-size: 20px;
  margin-top: 30px;
  line-height: 30px;
}

.array > img {
  width: 300px;
  height: 400px;
  margin-left: 13px;
  margin-bottom: 10px;
}

.array {
  margin: 100px auto;
  width: 1300px;
}

.array div {
  display: flex;
}

.middle span {
  font-size: 20px;
  position: relative;
  top: -20px;
}
.middle {
  position: relative;
}
.icon {
  position: relative;
  height: 35px;
  left: 330px;
  top: -10px;
  background-color: black;
  color: white;
  padding: 8px;
  font-size: 20px;
  border-radius: 15px;
  margin-left: 300px;
}

.background {
  margin-left: 500px;
  margin-top: 100px;
  padding: 50px;
  position: relative;
}

.background ul {
  margin: 50px, 50px, 50px, 50px;
  list-style-type: disc;
}

.background ul li {
  margin-top: 20px;
  font-size: 20px;
  position: relative;
  top: -50px;
}

.background span {
  font-weight: bolder;
  margin-bottom: 100px;
  font-size: 50px;
  position: relative;
  top: -50px;
}

.background ul {
  margin-top: 30px;
}

.down {
  display: flex;
  background-color: aliceblue;
  height: 500px;
  position: relative;
}

.down img {
  width: 400px;
  margin-top: 100px;
  position: relative;
  left: -105px;
  margin-left: 20px;
}

.readmore {
  width: 100px;
  height: 50px;
  position: relative;
  font-size: 20px;
  top: 40px;
  left: 30px;
  white-space: nowrap;
}

figure {
  position: relative;
}
figcaption {
  position: relative;
  left: -50px;
}
